<template>
  <div id="home" class="wrapper">
    <div class="top">
      <div class="left">
        <clock></clock>
      </div>
      <div class="right">
        <weather
            api-key="8d074abfdf0ce9d4d3ff749f9e1252ef"
            title="Weather"
            latitude="55.859528"
            longitude="12.502421"
            language="da"
            units="si"
            bar-color="#fff"
            text-color="#fff"
            :hide-header="true"
            :update-interval="86400">
        </weather>
      </div>
    </div>
    <div class="mid">
      <calendar 
        googleCalendarApiKey="AIzaSyApVpkzNyTaWfJH9e37U_wAYbuPr4O0nwk"
        googleCalendarId="silo@ocal.dk"
        :nextMonth="false"
        calendarName="calendar">
      </calendar>
      <!-- <div class="left">
      </div>
      <div class="right">
      </div> -->
    </div>
    <div class="bottom">
      <calendar 
        googleCalendarApiKey="AIzaSyApVpkzNyTaWfJH9e37U_wAYbuPr4O0nwk"
        googleCalendarId="silo@ocal.dk"
        :nextMonth="true"
        calendarName="calendarnext">
      </calendar>
      <!-- <VideoPage></VideoPage>
      <div class="left">
        <router-link :to="{ name: 'Calendar' }">Calendar</router-link>
        <router-link :to="{ name: 'VideoPage' }">Video</router-link>
        <router-link :to="{ name: 'Config' }">Config</router-link>

      </div> -->
      <!-- <div class="right">

      </div> -->
    </div>

  </div>
</template>

<script>
  import Clock from './Clock/Clock'
  import Calendar from './Calendar/Calendar'
  import VueWeatherWidget from 'vue-weather-widget'
  import 'vue-weather-widget/dist/css/vue-weather-widget.css'
  import VideoPage from './VideoPage/VideoPage'

  export default {
    name: 'home',
    components: { Clock, 'weather': VueWeatherWidget, Calendar, VideoPage },
    data () {
      return {
        events: [],
        config: {
          weekends: false,
          drop (...args) {
            // handle drop logic in parent
          }
        }
      }
    },
    methods: {
      open (link) {
        // this.$electron.shell.openExternal(link)
        window.open(link, '_self')
      }

    }
  }
</script>

<style>
  @import "~@/scss/main.scss";
</style>
