<template>
  <div>
    <video-player style="width: 100%;" class="vjs-custom-skin" 
                  :options="playerOptions"
                  @ready="playerReadied">
    </video-player>
    <select v-model="selectedTv" @change="onChange">
      <option v-for="(value, key) in tvList" :value="value" :key="key">
        {{key}}
      </option>
    </select>
    {{selectedTv}}
  </div>

</template>
<script>
import videojs from 'video.js'
import { videoPlayer } from 'vue-video-player'
import * as HLS from 'videojs-contrib-hls'
window.videojs = videojs
// require('videojs-contrib-hls/dist/videojs-contrib-hls.js')

require('video.js/dist/video-js.css')
require('vue-video-player/src/custom-theme.css')
require('videojs-contrib-media-sources')
require('videojs-contrib-hls/dist/videojs-contrib-hls')
require('videojs-contrib-hls.js')
// http://httpcache1.dna.qbrick.com/90042-httpcache2/smil:FT_stream_high/playlist.m3u8
// http://tv2danmark-tv2nord-live.hls.adaptive.level3.net/tv2danmark/tv2nord/master3200kbps.m3u8
// https://dr01-lh.akamaihd.net/i/live/dr01_0@147054/master.m3u8

export default {
  name: 'VideoPage',
  components: {
    videoPlayer
  },
  data () {
    return {
      selected: '',
      tvList: {
        'DR 1': 'https://dr01-lh.akamaihd.net/i/live/dr01_0@147054/master.m3u8',
        'TV 2': 'http://tv2danmark-tv2nord-live.hls.adaptive.level3.net/tv2danmark/tv2nord/master3200kbps.m3u8',
        'Folketinget': 'http://httpcache1.dna.qbrick.com/90042-httpcache2/smil:FT_stream_high/playlist.m3u8'
      },
      playerOptions: {
        autoplay: false,
        fluid: true,
        preload: true,
        sources: [{
          withCredentials: false,
          type: 'application/x-mpegURL',
          src: this.tvUrl
        }],
        controlBar: {
          timeDivider: false,
          durationDisplay: false
        },
        flash: {hls: { withCredentials: false }},
        html5: {hls: { withCredentials: false }}
        // poster: "https://surmon-china.github.io/vue-quill-editor/static/images/surmon-5.jpg"
      }
    }
  },
  mounted: function () {
    console.log('mounted')
    this.player = window.videojs()
  },
  methods: {
    playerReadied (player) {
      // var hls = player.tech({ IWillNotUseThisInPlugins: false }).hls
      // console.log(hls)
      // player.tech_.hls.xhr.beforeRequest = function (options) {
      //   // console.log(options)
      //   return options
      // }
      console.log(HLS)
      this.player = player
      if (this.player.readyState() < 1) {
        this.player.one('loadedmetadata', function () {
          let hls = player.tech({IWillNotUseThisInPlugins: true}).hls
          console.log(hls)
        })
      }
    },
    onChange () {
      console.log(this.selectedTv)
      this.src = this.selectedTv
    }
  },
  beforeCreate: function () {
    this.tvUrl = 'http://tv2danmark-tv2nord-live.hls.adaptive.level3.net/tv2danmark/tv2nord/master3200kbps.m3u8'
  }
}
</script>

<style>

</style>
