<template>
  <div>
    <div id="clock">
        <p class="date" v-resize-text="{ratio:1.5, delay: 200}">{{ datenow | moment("dddd Do MMMM YYYY") }}</p>
        <p class="time" v-resize-text="{ratio:0.4, delay: 200}">{{ datenow | moment("HH:mm:ss")}}</p>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import ResizeText from 'vue-resize-text'

const moment = require('moment')
require('moment/locale/da')

Vue.use(require('vue-moment'), {
  moment
})

export default {
  directives: {
    ResizeText
  },
  name: 'Clock',
  props: {
    interval: {
      type: Number,
      default: 1000
    }
  },
  data () {
    return {
      datenow: new Date()
    }
  },
  created () {
    var self = this
    setInterval(function () {
      self.datenow = new Date()
    }, this.interval)
  }
}
</script>

<style lang="scss">
#clock {
    color: #ffffff;
    text-align: left;
    p {
      margin: 0;
    }
    .time {
        font-size: 80px;
    }
    .date {
        font-size: 24px;
    }
    .text {
        font-size: 12px;
    }
}

</style>
