<template>
  <div>
    Hello {{ $route.params.name }} -
   <br>
   <router-link :to="{ name: 'home' }">Go back</router-link>
   <system-information></system-information>

  </div>
</template>

<script>
  import SystemInformation from '../LandingPage/SystemInformation'

  export default {
    name: 'About',
    components: { SystemInformation },
    data () {
      return {
        test: 'test'
      }
    }
  }
</script>

<style scoped>

</style>
