<template lang="html">
  <div class="main-calendar" :class="calendarName"></div>
</template>

<script>
import 'fullcalendar/dist/fullcalendar.min.css'
const moment = require('moment')

export default {
  props: {
    googleCalendarApiKey: {
      type: String,
      default: ''
    },
    googleCalendarId: {
      type: String,
      default: ''
    },
    nextMonth: Boolean,
    calendarName: String
  },
  mounted () {
    window.jQuery = window.$ = require('jquery')
    require('fullcalendar')
    require('fullcalendar/dist/gcal.js')
    var self = this
    var monthChoosen = moment()

    if (self.nextMonth) {
      console.log('YEEsS', self.calendarName)
      monthChoosen = moment().add(1, 'months')
    }

    jQuery(document).ready(function () {
      console.log(self.googleCalendarApiKey)
      $('.' + self.calendarName).fullCalendar({
        defaultView: 'month',
        locale: 'da',
        height: self.$el.offsetTop,
        contentHeight: 'auto',
        eventLimit: true,
        eventColor: 'transparent',
        timeFormat: 'H(:mm)',
        /* header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        }, */
        header: false,
        eventClick: function () {
          return false
        },
        googleCalendarApiKey: self.googleCalendarApiKey,
        events: {
          googleCalendarId: self.googleCalendarId
        },
        defaultDate: monthChoosen,
        loading: function (isLoading, view) {
          // console.log('Loading: ' + isLoading)
          // alert('Loading: ' + isLoading)
        },
        eventRender: function (event, element) {
          console.log(moment(event.start._i).format('L'), moment(new Date()).format('L'))
          if (moment(event.start._i).format('L') === moment(new Date()).format('L')) {
            element.addClass('today')
          }
          // element.addClass('fc-' + event.title.replace(/\s+/g, '_'))
        }
      })
    })
  }
}
</script>

<style lang="scss">

</style>
