<template>
<div>
  <input placeholder="New stream" v-model="newStream" @keydown.enter="addStream()">
  {{newStream}}
  <ul>
    <li v-for="stream in streams" :key="stream.url">
      <input type="radio" :id="stream.url" :value="stream.url" v-model="defaultStream">
      {{ stream.text }}
    </li>
  </ul>
</div>
</template>
<script>
export default {
  name: 'Config',
  data () {
    return {
      newStream: '',
      streams: [],
      defaultStream: ''
    }
  },
  methods: {
    addStream () {

    }
  },
  mounted () {
    console.log('App mounted!')
  },
  watch: {
    streams: {
      handler () {
        console.log('streams changed!')
      },
      deep: true
    }
  }
}
</script>
