// $brand-primary: blue;
// $brand-accent: turquoise;
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import 'reset.scss';
// COLOR VARIABLES
// color
$dimmed: #666;
$normal: #999;
$bright: #fff;

// main container
#home {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  color: $normal;
  background-color: black;
  color: white;
  height: 100vh;
}

.wrapper {
  > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden
  }
}
.top {
  //background-color: blue;
  max-height: 20vh;
  overflow: hidden;
}
.mid {
  //background-color: red;
  max-height: 55vh;
  // height: 100%;
  display: inline-block;
  overflow: hidden;
  padding: 2%;
}
.bottom {
  //background-color: yellow;
  max-height: 25vh;
  // height: 100%;
  overflow: hidden;
  padding: 2%;
  display: inline-block;


}
.left {
  width: 46%;
  padding: 2%;
  position: relative;
  overflow: hidden;
}
.right {
  align-items: flex-end;
  width: 46%;
  padding: 2%;
  position: relative;
  overflow: hidden;

}


/// CALENDAR STYLING

.main-calendar {
  width: 100%;
  .fc-today,
  .fc-event {
    //  background-color: white;
    // color: black;
  }
  .fc-today {
    color: black !important;
  }
  .today {
    color: black !important;
    background-color: white !important;
  }
}



// weather fix
.fe_container {
  min-width: 100%;
  
  .fe_forecast {
    margin-top: 0;
  }
  .fe_currently {
    width: 100%;
    margin-bottom: 0;
    #fe_current_icon {
      float: left;

      width: 100%;
      height: 100%;
      max-width: 12vw;
      margin-top: -5px;
      padding: 0;
    }
    .fe_temp {
      float: left;
      top: -32px;
      left: 10px;
      font-size: 8vw;
    }
    .fe_summary {
      float: right;
      // margin-right: 10px;
      font-size: 100%;
    }
    .fe_wind {
      float: right;
      // margin-right: 10px;
      font-size: 3vw;
    }
  }
  .fe_daily {
    width: 100%;
  }
}

// CLOCK
#clock {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  .date {
    font-size: 3vw;
  }
  .time {
    font-size: 11vw;
  }
}